main
*.mm
*.vec
old
.tags
*.dSYM
*.d
*.o
bench_spmv
*.map
*.mtx
output
export
*.h5
data/*
build
third_party
bin
profiling
benchmarks
compile_commands.json
*.petsc
prof
hpctoolkit*
*.csv
*.ft
local_bench/old
local_bench/20*
.vscode
.ipynb_checkpoints
dumps
.DS_Store
